<h1 class="text-center mt-3 mb-4">Informações Registradas</h1>

<div class="mb-3 text-center">
    <a class="btn btn-primary mb-4" href="/cadastro" role="button">Cadastrar Informações</a>
    <a class="btn btn-secondary mb-4" href="/" role="button">Voltar</a>
</div>

<div class="list-group mb-3">
{{#each registros}}
    <button href="#collapse_{{_id}}" class="list-group-item list-group-item-action bg-primary text-white lead"
    data-toggle="collapse" type="button" aria-expanded="false" aria-controls="collapse_{{_id}}"
    id="collapse_link_{{_id}}">
        <strong>{{oe_id}}</strong>. {{oe_desc}}
        <i class="fas fa-times float-right fa-sm pb-3 pl-1 hover excluirRegistros"
        data-toggle="modal" data-target="#modal_registro_{{_id}}" data-id="{{_id}}"></i>
    </button>

     <!-- Modal Excluir Registros -->
        <div id="modal_registro_{{_id}}" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deletar Registro - O.E. {{oe_id}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja deletar o registro?</p>
                <p>Todas informações associadas à ele serão perdidas</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <a href="/delete/registro/{{_id}}" role="button" class="btn btn-primary">Deletar Registro</a>
            </div>
            </div>
        </div>
        </div>
        </div>
    <!-- Fim do Modal para Excluir Registros -->

    <div class="collapse" id="collapse_{{_id}}">
        <div class="list-group">
        <table class="table table-striped">
        {{#each indicadores as |indicador|}}

        
            <thead>
                <tr class="table-primary">
                    <th scope="col">ID: {{indicador.indicador_id}}</th>
                    <th scope="col" colspan="4">
                        {{indicador.indicador_nome}}
                    </th>
                    <th>
                        <i class="fas fa-times float-right mr-1 mb-2 hover float-right"
                        data-toggle="modal" data-target="#modal_delete_indicador_{{_id}}"></i> 
                    </th>
                </tr>
                <tr>
                    <th colspan="2" scope="col">Ano</th>
                    <th colspan="3" scope="col">Valor</th>
                </tr>
            </thead>
            <tbody>
                {{#each periodo as |periodo|}}
                <tr>
                    <td colspan="2">{{periodo.ano}}</td>
                    <td colspan="2">{{periodo.valor}}</td>
                    <td colspan="3"><button class="btn-primary btn-sm float-right ml-2 my-1"
                    data-toggle="modal" data-target="#modal_editar_periodo_{{_id}}">Editar</button> 
                    
                    <button class="btn-danger btn-sm float-right my-1"
                        data-toggle="modal" data-target="#modal_delete_periodo_{{_id}}">Excluir</button>
                    </td>
                    
                </tr>

                <!-- Modal de Edição Período -->
                <div class="modal fade" id="modal_editar_periodo_{{_id}}" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Editar Período</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div class="modal-body">
                        <!-- Formulário de Edição Período -->
                        <form method="POST" action="/update/periodo">
                        <div class="form-group row">
                            <label for="ano" class="col-sm-2 col-form-label-lg">Ano:</label>
                            <div class="col-sm-4">
                                <input type="text" value="{{periodo.ano}}" class="form-control" id="ano" name="ano" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="valor" class="col-sm-2 col-form-label-lg">Valor:</label>
                            <div class="col-sm-4">
                                <input type="text" value="{{periodo.valor}}" class="form-control" id="valor" name="valor" placeholder="">
                            </div>
                        </div>
                        <input type="hidden" name="_id" id="id" value="{{_id}}"/>             
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Salvar mudanças</button>
                    </div>
                    </div>
                    </form>
                <!-- Fim do formulário de Edição Período -->
                </div>
                </div>
                <!-- Fim do Modal de Edição Período -->

                <!-- Modal Excluir Período -->
                    <div id="modal_delete_periodo_{{_id}}" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Deletar Período</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Tem certeza que deseja deletar esse período?</p>
                            <p>Todas informações associadas à ele serão perdidas</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <a href="/delete/periodo/{{_id}}" role="button" class="btn btn-primary">Deletar Indicador</a>
                        </div>
                        </div>
                    </div>
                    </div>
                    </div>
                <!-- Fim do Modal para Excluir Períodos -->
            {{/each}}
            </tbody>
        
            

            <!-- Modal Excluir Indicadores -->
            <div id="modal_delete_indicador_{{_id}}" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Deletar Indicador {{indicador.indicador_id}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Tem certeza que deseja deletar esse indicador?</p>
                    <p>Todas informações associadas à ele serão perdidas</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <a href="/delete/indicador/{{_id}}" role="button" class="btn btn-primary">Deletar Indicador</a>
                </div>
                </div>
            </div>
            </div>
            </div>
        <!-- Fim do Modal para Excluir Indicadores -->

        {{/each}}
        </table>
        </div>
    </div>
{{/each}}
</div>

<style>
    .hover:hover {
        cursor: pointer;
    }

    .list-group-item {
        overflow-wrap: break-word;
    }

</style>

<script>
    //Impede o toggle de um Registro ao cliclar no X para exclui-lo
    botaoExcluir = document.querySelectorAll('.excluirRegistros');
    botaoExcluir.forEach(botao => {
        botao.addEventListener('click', function(e) {
            e.stopPropagation();
            let dataId = $(this).attr("data-id");
            $(`#modal_registro_${dataId}`).modal('show');      
        })
    })
    
</script>
