<h1 class="text-center mt-3 mb-4">Informações Registradas</h1>

<div class="mb-3 text-center">
    <a class="btn btn-info mb-4" href="/admin/cadastro" role="button">Cadastrar Informações</a>
    <a class="btn btn-secondary mb-4" href="/admin" role="button">Voltar</a>
</div>

<div class="list-group mb-3">
{{#each registros}}
    <button href="#collapse_{{_id}}" class="list-group-item list-group-item-action list-group-item-info lead"
    data-toggle="collapse" type="button" aria-expanded="false" aria-controls="collapse_{{_id}}"
    id="collapse_link_{{_id}}">
        <strong>{{oe_num}}</strong>. {{oe}}
        <i class="fas fa-times float-right fa-sm pb-3 pl-3 hover text-danger excluirRegistros"
        data-toggle="modal" data-target="#modal_registro_{{_id}}" data-id="{{_id}}"></i>
    </button>

     <!-- Modal Excluir Registros -->
        <div id="modal_registro_{{_id}}" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deletar Registro - O.E. {{oe_num}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja deletar o registro?</p>
                <p>Todas informações associadas à ele serão perdidas</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <a href="/admin/delete/registro/{{_id}}" role="button" class="btn btn-primary">Deletar Registro</a>
            </div>
            </div>
        </div>
        </div>
        </div>
    <!-- Fim do Modal para Excluir Registros -->

    <div class="collapse" id="collapse_{{_id}}">
        <div class="list-group">

        {{#each variaveis as |item|}}

           <li class="list-group-item list-group-item-light">

                <i class="fas fa-trash-alt fa-lg float-right ml-2 hover text-danger"
                data-toggle="modal" data-target="#modal_delete_{{_id}}"></i>
                
                <i class="fas fa-edit fa-lg float-right hover text-info" data-toggle="modal"
                 data-target="#modal_editar_{{_id}}"></i>
                
               <p><span class="font-weight-bold">Indicador:</span> {{item.indicador}}</p>
               <p><span class="font-weight-bold">Fonte:</span>  {{item.fonte}}</p>
               <p><span class="font-weight-bold">Ano:</span>  {{item.periodo.ano}}</p>
               <p><span class="font-weight-bold">Valor:</span>  {{item.periodo.valor}}</p>
           </li>

           <!-- Modal de Edição -->

            <div class="modal fade" id="modal_editar_{{_id}}" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar Informações</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <!-- Formulário de Edição -->
                    <form method="POST" action="/admin/update">
                    <div class="form-group row">
                        <label for="ano" class="col-sm-2 col-form-label-lg">Ano:</label>
                        <div class="col-sm-4">
                            <input type="text" value="{{item.periodo.ano}}" class="form-control" id="ano" name="ano" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="valor" class="col-sm-2 col-form-label-lg">Valor:</label>
                        <div class="col-sm-4">
                            <input type="text" value="{{item.periodo.valor}}" class="form-control" id="valor" name="valor" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="fonte" class="col-sm-2 col-form-label-lg">Fonte:</label>
                        <div class="col-sm-8">
                            <input type="text" value="{{item.fonte}}" class="form-control" id="fonte" name="fonte" placeholder="">
                        </div>
                    </div>

                    <label for="indicador" class="col-form-label-lg">Indicador:</label>
                    <div>
                        <textarea class="form-control" id="indicador" name="indicador" placeholder="" rows="3" cols="30"
                        style="resize:none">{{item.indicador}}</textarea>
                    </div>
                    <input type="hidden" name="_id" id="id" value="{{_id}}"/>             
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar mudanças</button>
                </div>
                </div>
                </form>
            </div>
            </div>

            <!-- Fim do Modal de Edição -->

            <!-- Modal Excluir Variáveis -->
            <div id="modal_delete_{{_id}}" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Deletar Variável do Registro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Tem certeza que deseja deletar essa variável do registro?</p>
                    <p>Todas informações associadas à ela serão perdidas</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <a href="/admin/delete/variavel/{{_id}}" role="button" class="btn btn-primary">Deletar Variável</a>
                </div>
                </div>
            </div>
            </div>
            </div>
        <!-- Fim do Modal para Excluir Variáveis -->

        {{/each}}
        </div>
    </div>
{{/each}}
</div>

<style>
    .hover:hover {
        cursor: pointer;
    }

    .list-group-item {
        overflow-wrap: break-word;
    }

</style>

<script>
    //Impede o toggle de um Registro ao cliclar no X para exclui-lo
    botaoExcluir = document.querySelectorAll('.excluirRegistros');
    botaoExcluir.forEach(botao => {
        botao.addEventListener('click', function(e) {
            e.stopPropagation();
            let dataId = $(this).attr("data-id");
            $(`#modal_registro_${dataId}`).modal('show');      
        })
    })
    
</script>
