<h1 class="text-center mt-3 mb-5">Informações Registradas
    <a class="btn btn-primary btn-sm" href="/admin" role="button">
        <i class="fas fa-arrow-left"></i>  Voltar
    </a>
</h1>

<div class="list-group">
{{#each registros}}
    <button href="#collapse_{{_id}}" class="list-group-item list-group-item-action list-group-item-info lead"
    data-toggle="collapse" type="button" aria-expanded="false" aria-controls="collapse_{{_id}}"
    id="collapse_link_{{_id}}">
        <strong>{{oe_num}}</strong>. {{oe}}
        <a href="/api/delete/registro/{{_id}}" role="button">
            <i class="fas fa-times fa-lg float-right py-2 px-1 hover text-danger"></i>
        </a>
    </button>
    <div class="collapse" id="collapse_{{_id}}">
        <div class="list-group">
        {{#each variaveis as |item|}}
           <li class="list-group-item list-group-item-light">
               <a href="/api/delete/variavel/{{_id}}" role="button">
                    <i class="fas fa-trash-alt fa-lg float-right ml-2 hover text-danger"></i>
                </a>
                <a href="#" role="button">
                    <i class="fas fa-edit fa-lg float-right hover text-info"></i>
                </a>
               <p><span class="font-weight-bold">Indicador:</span> {{item.indicador}}</p>
               <p><span class="font-weight-bold">Fonte:</span>  {{item.fonte}}</p>
               <p><span class="font-weight-bold">Ano:</span>  {{item.periodo.ano}}</p>
               <p><span class="font-weight-bold">Valor:</span>  {{item.periodo.valor}}</p>
           </li>
        {{/each}}
        </div>
    </div>
{{/each}}
</div>


<style>
    .hover:hover {
        cursor: pointer;
    }

    .list-group-item {
        overflow-wrap: break-word;
    }
</style>

