<h1 class="text-center mt-3 mb-5">Informações Registradas
    <a class="btn btn-primary btn-sm" href="/admin" role="button">
        <i class="fas fa-arrow-left"></i>  Voltar
    </a>
</h1>

<div class="row justify-content-center">
{{#each registros}}
    <div class="card text-white bg-primary mb-3 d-inline-block mx-2
    " style="width: 18rem;">
        <div class="card-header">
                <a href="/api/delete/{{_id}}" role="button">
                    <i class="fas fa-times float-right ml-2 hover text-white"></i>
                </a>
            {{indicador}}
        </div>
        <div class="card-body">
            <h5 class="card-title">Informações:</h5>
            <p class="card-text">OE: {{oe}}</p>
            <p class="card-text">Período: {{periodo}}</p>
            <p class="card-text">Valor: {{dado}}</p>
        </div>
    </div>
{{/each}}
</div>

<style>
    .hover:hover {
        cursor: pointer;
    }
</style>

