<h1 class="text-center mt-3 mb-5">Informações Registradas
    <a class="btn btn-primary btn-sm" href="/admin" role="button">
        <i class="fas fa-arrow-left"></i>  Voltar
    </a>
</h1>

<!--
    <a href="/api/delete/{{_id}}" role="button">
        <i class="fas fa-times float-right ml-2 hover text-white"></i>
    </a>
 -->


{{#each registros}}
    <h5>{{oe_num}} - {{oe}}</h5>
    {{#each variaveis as |item|}}
        <ul>
            <li>Indicador: {{item.indicador}}</li>
            <li>Fonte: {{item.fonte}}</li>
            <li>Ano: {{item.periodo.ano}}</li>
            <li>Valor: {{item.periodo.valor}}</li>
        </ul>
    {{/each}}
    <hr/>
{{/each}}


<style>
    .hover:hover {
        cursor: pointer;
    }
</style>

